<script src="http://jqwidgets.com/public/jqwidgets/jqx-all.js"></script> 
<div id="user-id", data-id=<%= @user.id %>></div>
<div id="user-info">
  <%= image_tag avatar_url(@user) %>
  <p><%= @user.username if @user.username %></p>
  <p><%= @user.email if @user.email %></p>
  <% if @user == current_user %>
  <%= link_to 'Edit account', edit_user_registration_path %>
  <% end %>
</div>


<div id="projects-container"></div>


<%= javascript_include_tag "_profile.js" %>

